<div class="title">
  <h1>THÔNG ĐIỆP</h1>
</div>

<!-- Nhà tài trợ chính -->
<div class="testimonials">
  <div class="inner">
    <h3>THÔNG ĐIỆP ĐẾN TỪ CHƯƠNG TRÌNH</h3>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p1.png" alt="">
          <div class="name">3T</div>
          <p>
            Tiện ích - Tái tạo - Thân thiện
          </p>
          <p>
            Khuyến khích mọi người dùng vật liệu tái chế, dễ phân hủy và tái sử dụng với mục đích tạo 1 môi trường thân
            thiện
            theo slogan 3T - Tiện Ích - Tái Tạo - Thân Thiện
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p2.png" alt="">
          <div class="name">3 KHÔNG</div>
          <p>
            Khoảng cách - Kì thị - Phân biệt
          </p>
          <p>
            Đừng để những khoảng cách về giới tính, màu da, sắc tộc,... làm ngăn cản sự yêu thương.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p3.png" alt="">
          <div class="name">3T</div>
          <p>
            Thể thao - Tinh thần - Trách nhiệm
          </p>
          <p>
            Hãy luyện tập thể thao ngay hôm nay để một Tinh thần luôn thoải mái và có Trách nhiệm với bản thân hơn.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>