<section class="billboard">
    <section class="caption">
        <p class="cap_title">Sunny</p>
        <div class="page">
            <div class="countdown-col col">
                <div class="time middle">
                    <span>
                        <div id="d">{{d}}</div>
                        Days
                    </span>
                    <span>
                        <div id="h">{{h}}</div>
                        Hours
                    </span>
                    <span>
                        <div id="m">{{m}}</div>
                        Minutes
                    </span>
                    <span>
                        <div id="s">{{s}}</div>
                        Seconds
                    </span>
                </div>
            </div>
        </div>
        <a href="/add">Mua vé ngay <i></i></a>
    </section>
</section><!-- End billboard -->