<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <h3>Menu</h3>
        <ul class="list-unstyled three-column">
          <li>Trang chủ</li>
          <li>Thông tin</li>
          <li>Hoạt động</li>
          <li>Đơn vị tổ chức</li>
          <li>Đối tác</li>
          <li>Tin tức</li>
        </ul>
        <ul class="list-unstyled socila-list">
          <li><i class="fa fa-facebook-square" style="font-size:48px;"></i></li>
          <li><i class="fa fa-youtube-square" style="font-size:48px;"></i></li>
          <li><i class="fa fa-twitter-square" style="font-size:48px;"></i></li>
          <li><i class="fa fa-google-plus-square" style="font-size:48px;"></i></li>
          <li><i class="fa fa-phone-square" style="font-size:48px;"></i></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h3>Đơn vị tổ chức</h3>
        <div class="media">
          <a href="#" class="pull-left">
            <img height="64px" width="94px" src="assets/img/sponsors/Logo-EIU.gif" alt="" class="media-object" />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Đại học Quốc tế Miền Đông</h4>
            <p>Nam Kỳ Khởi Nghĩa, P. Hòa Phú, TP. Thủ Dầu Một, T. Bình Dương</p>
          </div>
        </div>

        <div class="media">
          <a href="#" class="pull-left">
            <img height="64px" width="84px" src="assets/img/Logo.jpg" alt="" class="media-object" />
          </a>
          <div class="media-body">
            <h4 class="media-heading">Event Sunny</h4>
            <p>Sự kiện sắc màu và âm nhạc</p>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <h3>Một số hình ảnh</h3>
        <img class="img-thumbnail" height="100px" width="150px" src="assets/img/banner/banner.jpg" alt="" />
        <img class="img-thumbnail" height="100px" width="150px" src="assets/img/banner/hinh2.jpg" alt="" />
        <img class="img-thumbnail" height="100px" width="150px" src="assets/img/banner/hinh3.jpg" alt="" />
        <img class="img-thumbnail" height="100px" width="150px" src="assets/img/banner/hinh5.jpg" alt="" />
      </div>

    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2019 <span>AK Team</span>
  </div>
</footer>
