<div class="title">
  <h1>QUI ĐỊNH VÀ ĐIỀU LỆ</h1>
</div>
<br>
<div class="container">
  <h3>THÔNG BÁO: VUI LÒNG ĐỌC KỸ CÁC QUY ĐỊNH DƯỚI ĐÂY TRƯỚC KHI HOÀN TẤT ĐĂNG KÝ</h3>
  <p>Bằng cách cung cấp thông tin đăng ký tham gia cho Ban Tổ Chức (BTC) qua các hình thức đăng ký khác nhau (trực tuyến
    qua website, email,..), tất cả người tham gia xác nhận đồng ý và cam kết thực hiện những điều lệ tham gia theo sự
    hướng dẫn của BTC như bên dưới.</p>
  <li>
    Phí đăng ký sẽ không thể nâng cấp, hoàn tiền hoặc huỷ.
  </li>
  <li>
    Người tham gia phải mang theo giấy tờ tùy thân có ảnh nhận diện để đổi lấy bộ kit để tham gia vào sự kiện.
  </li>
  <li>
    CMND, bằng lái xe, passport, thẻ căn cước hay thẻ học sinh là những loại giấy tờ tuỳ thân hợp lệ.
  </li>
  <li>
    Thời gian và địa điểm nhận CMR Kit sẽ được thông báo đến người tham gia 2 tuần trước ngày sự kiện diễn ra.
  </li>

  <h3>
    QUI ĐỊNH CHUNG
  </h3>
  <p>
    <li>Tất cả người tham gia phải đổi bộ kit trước khi vào khu vực sự kiện.</li>
    <li>Người tham gia bắt buộc phải đeo vòng tay mọi lúc trong khu vực sự kiện. Vui lòng không làm mất! Những bạn đánh
      mất vòng tay dù dưới bất kỳ lý do gì sẽ không được phép tham gia vào sự kiện.</li>
    <li>Bất kỳ ai không mang vòng tay theo đúng quy định sẽ bị buộc rời khỏi sự kiện. Không có bất kỳ ngoại lệ nào.</li>
    <li>Ban tổ chức (BTC) và các đơn vị đối tác liên đới không chịu trách nhiệm về việc đăng ký từ bên thứ ba, các kênh
      hay địa điểm khác ngoài những đơn vị có đăng ký phân phối chính thức của sự kiện Color Me Run 2019.</li>
    <li>Người tham cam kết có đầy đủ sức khoẻ khi tham gia cuộc thi. BTC sẽ không chịu trách nhiệm cho bất kỳ khoản bồi
      thường nào liên quan đến tính mạng, thương tật hoặc bất kỳ khoản bồi thường nào được quy định bởi pháp luật.</li>
    <li>Nghệ sĩ tham gia lễ hội có thể thay đổi hoặc không biểu diễn. Trong trường hợp thay đổi hay huỷ bỏ thì mọi vấn
      đề hoàn tiền đều không được chấp thuận.</li>
    <li>BTC cũng như các đối tác và nghệ sĩ sẽ không phải chịu bất kỳ trách nhiệm nào trong việc chi trả phí di chuyển
      nếu sự kiện bị hủy hoặc hoãn.</li>
    <li>Ban điều hành, BTC, các đơn vị đối tác và nghệ sĩ không chịu trách nhiệm cho các trường hợp mất mát, cướp giật
      hay hỏng hóc đối với vật dụng cá nhân hoặc thương tích vì bất kỳ lý do gì xảy ra trong quá trình xảy ra tại khu sự
      kiện.</li>
    <li>Trong một vài trường hợp nhất đinh, một số khu vực trong không gian sự kiện có thể bị giới hạn.
    <li>Người tham gia hành xử gây mất trật tự, xúc phạm hoặc không thích hợp; và không tuân thủ các hướng dẫn/cảnh báo
      từ nhân viên của BTC sẽ bị mời khỏi lễ hội ngay lập tức. BTC sẽ không hoàn trả phí tham dự cho các trường hợp nêu
      trên.</li>
    <li>Bất kỳ hành vi đi vào sự kiện mà không có vé hoặc giấy uỷ quyền hợp lệ sẽ ngay lập tức bị mời rời khỏi khu vực
      sự kiện. Trong những trường hợp nhất định, chúng tôi sẽ mời sự hợp tác của phía công an và báo cáo đối với người
      vi phạm.</li>
    <li>BTC khuyến khích các bạn không nên mang theo hành lý (balo, túi xách, vali du lịch,…).</li>
    <li>BTC sẽ từ chối sự tham gia đối với những khách bị say, bị ảnh hưởng rõ ràng bởi các loại thuốc hoặc bị coi là
      không thích hợp để tham gia. Bất cứ ai bị tìm thấy mang theo ma túy hoặc, các chất bất hợp pháp, vũ khí và/hoặc
      các vật dụng bị cấm khác sẽ được báo ngay cho cảnh sát. Mọi vấn đề hoàn tiền đều không được chấp thuận.</li>
    <li>Các loại đồ ăn, thức uống từ bên ngoài bị cấm mang vào phía trong khu vực sự kiện.</li>
    <li>BTC không hoan nghênh người tham gia không mặc áo. Đối với những người tham gia cởi bỏ áo trong thời gian sự
      kiện diễn ra sẽ được yêu cầu mặc trở lại.</li>
    <li>Những người tham gia bị buộc mời khỏi sự kiện dù vì bất kỳ lý do gì sẽ bị cấm quay trở lại khu vực sự kiện.</li>
    <li>Đây là một sự kiện thân thiện. Vì vậy hãy giữ gìn môi trường bằng cách để rác đúng nơi quy định.</li>
    <li>Cấm các hàng quán, kinh doanh trái phép tại khu vực lễ hội.</li>
    <li>Cấm các hành vi lôi kéo khách hàng, phát tờ rơi, dùng thử hay phân phát hàng mẫu.</li>
    <li>Rượu và các loại đồ uống có cồn chỉ dành cho những người tham gia từ 21 tuổi trở lên.</li>
  </p>

  <h3>KIỂM TRA AN NINH</h3>
  <p>Tất cả người tham dự đều được tìm kiểm tra trước khi tham gia sự kiện, bao gồm cả các thành viên của giới truyền
    thông. Để tham gia vào lễ hội, tất cả những người tham dự sẽ phải tuân theo sự kiểm tra toàn diện tương tự tại sân
    bay, bao gồm kiểm tra quần áo và túi xách, và kiểm tra vật phẩm của bạn. Máy dò tìm điện tử và tìm kiếm sẽ được sử
    dụng. BTC vào mọi thời điểm đều có quyền từ chối bất kỳ cá nhân và tập thể nào vi phạm các quy định của sự kiện vào
    hoặc ra khỏi sự kiện, các quy định này có thể được cập nhật theo thời gian, có hoặc không có thông báo.</p>

  <h3>QUYỀN SỬ DỤNG HÌNH ẢNH</h3>
  <p>
    Công ty TNHH TM & SX Pulse (Pulse Active) và các chi nhánh/hiệp hội có quyền quay phim, ghi hình và/hoặc chụp ảnh,
    hoặc đăng tải về sự kiện này cho mục truyền hình, hoặc phát sóng, sử dụng công khai ở bất kỳ phương tiện nào phục vụ
    bất kỳ mục đích nào một cách hợp pháp. Bất kỳ khách tham quan, người tham gia và /hoặc người mang vòng tay của sự
    kiện theo đây đều chấp thuận miễn trách nhiệm đối với Công ty TNHH TM & SX Pulse (bao gồm nhân viên và công ty con)
    và các chi nhánh/hiệp hội trong bất kỳ quyền, khiếu nại, thiệt hại, tổn thất, nợ, tiền phạt và nguyên nhân của bất
    kỳ điều gì phát sinh trực tiếp hoặc gián tiếp từ việc quay phim, ghi âm và/hoặc chụp ảnh sự kiện này
  </p>
</div>