<div class="pos-f-t">
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
			<nav>
				<ul>
					<li><a routerLink="/home">TRANG CHỦ</a></li>
					<li class="drop">
						<a>THÔNG TIN CHƯƠNG TRÌNH</a>

						<div class="dropdownContain">
							<div class="dropOut">
								<div class="triangle"></div>
								<ul>
									<li><a routerLink="/event-info/plan">LỊCH TRÌNH & BẢN ĐỒ</a></li>
									<li><a routerLink="/event-info/singer">NGHỆ SĨ</a></li>
									<li><a routerLink="/event-info/question-answer">HỎI VÀ ĐÁP</a></li>
									<li><a routerLink="/event-info/volunteer">TÌNH NGUYỆN VIÊN</a></li>
									<li><a routerLink="/event-info/polycies">QUI ĐỊNH & ĐIỀU LỆ</a></li>
								</ul>
							</div>
						</div>

					</li>
					<li><a routerLink="/activities">HOẠT ĐỘNG</a></li>
					<li><a routerLink="/news">TIN TỨC</a></li>
					<li><a routerLink="/message">THÔNG ĐIỆP</a></li>
					<li><a routerLink="/partnership">ĐỐI TÁC</a></li>
					<li><a routerLink="/add"><button type="button" class="btn btn-danger">ĐẶT VÉ</button></a></li>
				</ul>
			</nav>

		</div> 
	</div>
	<nav class="navbar navbar-dark bg-dark">
		<button style="margin-left: 90%;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
			aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>