<div class="title">
  <h1>HỎI VÀ ĐÁP</h1>
</div>
<div class="container">
  <div>
    <h3>- Làm thế nào để kiểm tra xem đăng ký online đã thành công chưa?</h3>

    <div id="myDIV">
      Sau khi hoàn tất quá trình đăng ký trên website, bạn sẽ nhận được email xác nhận gửi đến địa chỉ mail bạn đã dùng
      để đăng ký. Nếu 24 giờ sau khi đăng ký bạn vẫn không nhận được email xác nhận, hãy liên hệ Ban Tổ Chức qua địa chỉ
      email: registration@pulse.vn hoặc gọi đến số 0702816165 để kiểm tra tình trạng đăng ký và được hỗ trợ nhé.
    </div>
  </div>

  <div>
    <h3>- Nếu tôi đã đăng ký thành công nhưng không thể tham dự vì lý do nào đó, thì tôi có được hoàn tiền không?</h3>

    <div id="myDIV">
      Chính sách của Color Me Run là không hoàn tiền. Hãy chắc chắn bạn có thể tham gia Color Me Run trước khi đăng ký.
    </div>
  </div>

  <div>
    <h3>
      - Tôi có thể đi bộ trong chuyến hành trình sắc màu không?
    </h3>

    <div id="myDIV">
      Tất nhiên là được! Bạn có thể đi bộ và trải nghiệm con đường theo ý mình. Nhưng hãy nhớ là những trạm sắc màu sẽ
      đóng theo đúng lịch trình đã được lên sẵn, nên đừng chậm chân quá kẻo lỡ cuộc vui nhé! 🙂
    </div>
  </div>

  <div>
    <h3>- 
      Ai có thể tham gia Color Me Run?
    </h3>

    <div id="myDIV">
      Người tham gia Color Me Run có thể là người lớn: học sinh/sinh viên, người đi làm ở mọi lĩnh vực; hoặc bạn bè hay
      gia đình ở mọi độ tuổi. Bạn chỉ cần yêu âm nhạc, thích thể thao và mê những phút giây vui nhộn, những trải nghiệm
      “cool ngầu” là được!
    </div>
  </div>

  <div>
    <h3>- 
      Tôi có thể gửi đồ tại đâu khi tham gia sự kiện?
    </h3>

    <div id="myDIV">
      Color Me Run không có tủ khoá để bạn cất giữ đồ đạc cá nhân, nên chúng tôi khuyên người tham gia không nên mang
      những vật dụng có giá trị đến sự kiện.
    </div>
  </div>

  <div>
    <h3>- 
      Bột màu được dùng có an toàn không?
    </h3>

    <div id="myDIV">
      Bột màu dùng trong Color Me Run là bột màu thực phẩm đã được công nhận là an toàn cho sức khoẻ và không độc hại.
      Tuy nhiên, nếu bạn có triệu chứng dị ứng, nổi mẩn đỏ khi tiếp xúc với bột hay bụi v.v, hãy cân nhắc cẩn thận trước
      khi quyết định tham gia, hoặc dùng thuốc đặc trị để đề phòng trường hợp không may.

      Bột màu rất dễ tẩy rửa. Tuy nhiên, nếu bạn vẫn lo lắng, chúng tôi khuyên nên dùng giày và quần cũ.
    </div>
  </div>

  <div>
    <h3>- 
      Bột màu bám trên quần áo/phụ kiện của tôi có thể được giặt/rửa sạch không?
    </h3>

    <div id="myDIV">
      Bạn có thể dễ dàng giặt sạch quần áo và phụ kiện bằng những bước giặt rửa thông thường sau khi tham gia sự kiện.
    </div>
  </div>

  <div>
    <h3>- 
      Về hỗ trợ y tế
    </h3>

    <div id="myDIV">
      Tại sự kiện, đội sơ cứu y tế luôn túc trực và sẵn sàng hỗ trợ khi bạn cần.
    </div>
  </div>

  <div>
    <h3>- 
      Về nhà vệ sinh
    </h3>

    <div id="myDIV">
      Tại khu vực xuất phát/về đích, chúng tôi có bố trí nhà vệ sinh cho bạn. Tuy nhiên, dọc hành trình sẽ không có nhà
      vệ sinh.
    </div>
  </div>

</div>