<!-- <div class="services-section">
    <div class="inner-width">
      <h1 class="section-title">Các hoạt động của chúng tôi</h1>
      <div class="border"></div>
      <div class="services-container">
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-paint-brush"></i>
          </div>
          <div class="service-title">Đường chạy sắc màu</div>
          <div class="service-desc">
            Color Me Run - đường chạy sắc màu sẽ mang đến cho bạn những giây phút vui vẻ nhất!
          </div>
        </div>
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-code"></i>
          </div>
          <div class="service-title">Khu ẩm thực</div>
          <div class="service-desc">
            Hội tụ những brand nổi tiếng và các món ăn đường phố nổi tiếng tại Việt Nam.
          </div>
        </div>
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-brush"></i>
          </div>
          <div class="service-title">Sân khấu nhạc ngoài trời</div>
          <div class="service-desc">
            Với sự có mặt của các ca sĩ nổi tiếng mang đến một đêm nhạc bùng nổ sắc màu.
          </div>
        </div>
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-object-ungroup"></i>
          </div>
          <div class="service-title">Khu trưng bày</div>
          <div class="service-desc">
            Góp phần lan tỏa thông điệp về ý thức bảo vệ môi trường.
          </div>
        </div>
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-database"></i>
          </div>
          <div class="service-title">Gắn kết cộng đồng</div>
          <div class="service-desc">
            Đừng để giới tính, màu da, quốc tịch ngăn cản sự kết nối!
          </div>
        </div>
  
        <div class="service-box">
          <div class="service-icon">
            <i class="fab fa-android"></i>
          </div>
          <div class="service-title">Mua vé ngay</div>
          <div class="service-desc">
            Bấm mua vé ngay để tận hưởng những điều thú vị trên!
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="row">

  <div class="col">
    <div class="box">
      <img src="assets/img/banner/hinh3.jpg" alt="" class="box-img">
      <h1>
        Color Me Run</h1>
      <h5>
        Đường chạy sắc màu</h5>
      <p>
        Color Me Run - đường chạy sắc màu sẽ mang đến cho bạn những giây phút vui vẻ nhất!</p>
      <ul>
        <li><a href="/activities"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <img src="assets/img/banner/hinh5.jpg" alt="" class="box-img">
      <h1>
        Outdoor Stage</h1>
      <h5>
        Sân khấu ngoài trời</h5>
      <p>
        Với sự có mặt của các ca sĩ nổi tiếng mang đến một đêm nhạc bùng nổ sắc màu.</p>
      <ul>
        <li><a href="/activities"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <img src="assets/img/banner/banner.jpg" alt="" class="box-img">
      <h1>
        Food Court</h1>
      <h5>
        Khu ăn uống</h5>
      <p>
        Hội tụ những thương hiệu nổi tiếng và các món ăn đường phố nổi tiếng tại Việt Nam.</p>
      <ul>
        <li><a href="/activities"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>