<div class="title">
    <h1>TÌNH NGUYỆN VIÊN</h1>
</div>
<br>
<div class="row">
    <div class="col">
        <p style="font-size: 85%">
            Bạn có hứng thú với nghề tổ chức sự kiện?
        </p>
        <p style="font-size: 85%">
            Hay bạn yêu thích các lễ hội mà vẫn muốn làm điều gì đó thật hữu ích vào mùa hè này?
        </p>
        <p style="font-size: 85%">
            Tham gia tình nguyện tại Siêu Lễ EIU Sunny 2019,<br>
            ngoài việc được hiểu thêm về cách tổ chức và vận hành một sự kiện lớn,<br>
            là nhân tố góp phần cho sự thành công của sự kiện,<br>
            bạn sẽ có cơ hội được trải nghiệm một trong những lễ hội lớn nhất tại EIU!
        </p>
        <p style="font-size: 85%">
            ___________
        </p>
        <p>
            <a href=""><button type="button" class="btn btn-success">Đăng kí</button></a>
        </p>
    </div>

    <div class="col">
        <img src="/assets/img/volunteer.jpg" alt="">
    </div>
</div>