<div class="title">
    <h1>CA SĨ</h1>
</div>
<div class="testimonials">
    <div class="inner">
      <h1>SUNNY19 WHAT'S YOUR HANDS UP!</h1>
      <div class="border"></div>
  
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p1.png" alt="">
            <div class="name">CHILLIES</div>
            <p>
                CHILLIES – Vừa BAY vừa CAY 🌶🔥

                Ban nhạc 5 chàng trai Chillies thích gì chơi đó, đủ thể loại từ Pop, Rock, Alternative Rock, đến R&B. Với “Who?”, “Nếu ngày mai không đến”, tới “Và thế là hết”, Chillies đang đợi các CMRers tới cùng bùng nổ sân khấu với Chillies!
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p2.png" alt="">
            <div class="name">HOAPROX</div>
            <p>
                Hoaprox – chàng trai DJ đưa EDM Việt Nam lên sàn quốc tế

                Được mời sang Amsterdam – thánh địa của dòng nhạc EDM tham gia trình diễn khi mới 21 tuổi, với bản nhạc tự sáng tác như “I can’t find you” hay bản remix như “Bùa yêu”, “Người lạ ơi”, Hoaprox thực sự là một tài năng DJ độc đáo đầy triển vọng của làng EDM Việt hiện tại.
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p3.png" alt="">
            <div class="name">MASEW</div>
  
            <p>
                “Phủ thuỷ phối khí” của underground Việt Nam

                MASEW với khả năng biến âm nhạc thành một chất “gây nghiện” thật sự. Những bản phối “triệu view”, từ “Tuý Âm” đến “Điều khác lạ”, những sản phẩm âm nhạc chính là minh chứng cho tài năng của Masew! Hẹn gặp Masew và những điều bất ngờ vào ngày 22.6 tới đây nhé!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>