<div class="title">
  <h1>ĐỐI TÁC</h1>
</div>
<div class="testimonials">
  <div class="inner">
    <h1>Đơn vị tổ chức</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/Logo-EIU.gif" alt="">
          <div class="name">Đại học Quốc tế Miền Đông</div>
          <p>
            Tên tiếng Anh: EASTERN INTERNATIONAL UNIVERSITY. Tên viết tắt: (EIU).
            Tên tiếng Việt: Trường Đại học Quốc tế Miền Đông.
            Trụ sở chính: Khu đô thị mới thuộc Khu liên hợp Công nghiệp - Dịch vụ và đô thị Bình Dương, thành phố Thủ
            Dầu Một, tỉnh Bình Dương.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Nhà tài trợ chính -->
<div class="testimonials">
  <div class="inner">
    <h1>Đơn vị tài trợ</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p1.png" alt="">
          <div class="name">Full name</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p2.png" alt="">
          <div class="name">Full name</div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="/assets/img/sponsors/p3.png" alt="">
          <div class="name">Full name</div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Đối tác truyền thông -->
<div class="testimonials">
    <div class="inner">
      <h1>Đối tác truyền thông</h1>
      <div class="border"></div>
  
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p1.png" alt="">
            <div class="name">Full name</div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p2.png" alt="">
            <div class="name">Full name</div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="/assets/img/sponsors/p3.png" alt="">
            <div class="name">Full name</div>
  
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>