<div class="page">
    <!-- <div class="countdown-col col">
      <div class="time middle">
        <span>
          <div id="d">{{d}}</div>
          Days
        </span>
        <span>
          <div id="h">{{h}}</div>
          Hours
        </span>
        <span>
          <div id="m">{{m}}</div>
          Minutes
        </span>
        <span>
          <div id="s">{{s}}</div>
          Seconds
        </span>
      </div>
    </div> -->
    <div class="newsletter-col col">
      <div class="newsletter middle">
        <h2>ĐẾM NGƯỢC ĐẾN SUNNY 2019</h2>
        <h4>Đăng kí để nhận thêm thông tin từ chương trình</h4>
        <form action="">
          <input type="text" placeholder="Enter Your Email">
          <input class="newsletter-btn" type="button" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
  