<!-- Pricing Table -->
<div class="pricing-table">
  <div class="col">

    <div class="table">
      <h2>Vé thường</h2>
      <div class="price">
        150.000 VNĐ
        <span>1 vé</span>
      </div>

      <ul>
        <li><strong>1</strong> áo</li>
        <li><strong>4</strong> gói màu</li>
        <li><strong>1</strong> vòng tay</li>
        <li><strong>1</strong> túi zip</li>
        <li><strong>1</strong> chai nước</li>
      </ul>
      <a href="/add">Mua ngay</a>
    </div>

  </div>
  <div class="col">

    <div class="table">
      <h2>Vé VIP</h2>
      <div class="price">
        200.000 VNĐ
        <span>1 vé</span>
      </div>

      <ul>
        <li><strong>1</strong> áo</li>
        <li><strong>4</strong> gói màu</li>
        <li><strong>2</strong> vòng tay</li>
        <li><strong>1</strong> túi zip</li>
        <li><strong>1</strong> chai nước + 
        <strong>1</strong> voucher</li>
      </ul>
      <a href="/add">Mua ngay</a>
    </div>

  </div>
  <div class="col">

    <div class="table">
      <h2>Vé VVIP</h2>
      <div class="price">
        250.000 VNĐ
        <span>1 vé</span>
      </div>

      <ul>
        <li><strong>1</strong> áo</li>
        <li><strong>4</strong> gói màu</li>
        <li><strong>2</strong> vòng tay</li>
        <li><strong>1</strong> túi zip</li>
        <li><strong>1</strong> chai nước + 
        <strong>1</strong> voucher + 
        <strong>1</strong> lightstick</li>
      </ul>
      <a href="/add">Mua ngay</a>
    </div>


  </div>
</div>
<div>
  <img height="100%" width="100%" src="assets/img/CMR-race-kit.png" alt="">
</div>