$color-black : black;
$color-black-light:#101010;
$color-black-bright:#3c3950;
$color-white: #fff;
$color-grey:#f8f8f8;
$color-grey-dark:#d8d8d8;
$color-orange-dark: #ec7532;
$color-orange-light:#fbbd61;
$color-yellow-dark:#ffd954;
$color-yellow-light:#f8eebd; 




$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3:30px;
$pd-4:4%;
$pd-5:7%;

$mg-1:10px;
$mg-2: 20px;
$mg-3:30px;
$mg-4:40px;
$mg-5:50px;
$mg-6:200px;

$fs-0:13px;
$fs-1:15px;
$fs-2:17px;
$fs-3:20px;
$fs-4:30px;
$fs-5:40px;

$fw-bold:bold;
$fw-normal:normal;

// Small devices (landscape phones, 576px and up)
$screen-xs: 576px;
// Medium devices (tablets, 768px and up)
$screen-sm: 768px;
// Large devices (desktops, 992px and up)
$screen-md: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-lg: 1200px;
